@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;

}

:root{
    --dark:#000000;
    --red: #dc3545;
    --blue: #007bff;
    --white: #ffff;
    --yellow: #F9DA00; 

}

body{
    background-color: var(--dark);
    color: var(--white);
    overflow: hidden;
}

.navegation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem var(--red);
    width: 100%;
    background: var(--dark);
    transition: all 0.5s;
    position: fixed;
}



.logo span{
   
    color: var(--white);
    font-size: 2rem;
    font-weight: 600;
}

.navegation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}

.navegation ul li a{
    color: white;
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}

.navegation ul li a:hover{
    color: blue;
    
}

.navegation i {
    cursor: pointer;
    font-size: 1.5rem;
}

.menu{
    cursor: pointer;
    display: none;
}

.menu .bar{
     display: block;
     width: 28px;
     height: 3px;
     border-radius: 3px;
    background-color: var(--white);
    margin: 5px auto;
    transition: all 0.3s;
     
}


.menu .bar:nth-child(1),
.menu .bar:nth-child(2),
.menu .bar:nth-child(3){
    background:  var(--blue);
    
}

.home{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.home-text{
    max-width: 37rem;
   
}

.home-text .text-h4{
   font-size: 1.5rem;
   color: var(--red);
  
}

.home-text .text-h1{
    font-size: 4rem;
    color: var(--blue);
    line-height: 4rem;
    margin-bottom: 2rem;
 }

 .home-text p {
     margin-bottom: 4rem;
     
     
 }

 .home-btn{

    padding: 15px 45px;
    background-color: var(--blue);
    color: white;
    border-radius: 3rem 0.5s;
    font-weight: 700;

 }

 .home-btn:hover{

  
    background-color: var(--red);
    color: white;
    border-radius: 3rem 0.5s;

 }

 .home-img img{
     margin-top: 7rem;
     display: flex; 
    width: 600px;
     height: 620px;
     
    
 }

 @media (max-width:785px) {
    .navigation{
        padding: 15px 20px;
    }
    .menu{
        display: block;
    }
    .menu.ativo .bar:nth-child(1){
        transform:  translateY(8px) rotate(45deg);
    }
    .menu.ativo .bar:nth-child(2) {
        opacity: 0;
    }
    .menu.ativo .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .nav-menu{
        position: fixed;
        right: -100%;
        top: 70px;
        width: 100%;
        height: 100%;
        flex-direction: column;
        background: black;
        gap: -10px;
        transition: 0.3s;
    }
    .nav-menu.ativo{
        right: 0;
    }
    .nav-item{
        margin: 15px 0;
    }
    /*main*/
    .home{
        padding: 90px 2%;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
        gap: 5rem;
    }
    .home .text-h4{
        margin: 5rem;
        font-size: 15px;
    }
    .home .text-h1{
        font-size: 2.5rem;
        line-height: 3rem;
    }
    .home p{
        font-size: 20px;
    }
    .home-img{
      display: none;
    }
}







